<div id="footer">
    <a id="bot"></a>
    <link rel="stylesheet" href="../../styles/footer.css">
    <div class="text-small">
        <div class="text-left container text-center">
            <a target="_blank" class="text-link text-inline text-large text-bold" href="https://UHCE.fr">Minecraft</a>
            <p class="text-font text-splitter text-inline-pad text-large">|</p>
            <a target="_blank" class="text-link text-inline text-large text-bold"
                href="https://UHCE.fr/discord">Discord</a>
            <p class="text-font text-splitter text-inline-pad text-large">|</p>
            <a target="_blank" class="text-link text-inline text-large text-bold"
                href="https://github.com/uhcefr">Github</a>
            <p class="text-font text-splitter text-inline-pad">{</p>
            <a target="_blank" class="text-link text-inline" href="https://github.com/uhcefr/.github">.Git</a>
            <p class="text-font text-splitter text-inline-pad">|</p>
            <a target="_blank" class="text-link text-inline" href="https://github.com/uhcefr/uhcefr.github.io">Page</a>
            <p class="text-font text-splitter text-inline-pad">|</p>
            <a target="_blank" class="text-link text-inline" href="https://github.com/uhcefr/plugin">Plugin</a>
            <p class="text-font text-splitter text-inline-pad">|</p>
            <a target="_blank" class="text-link text-inline" href="https://github.com/uhcefr/bot">Bot</a>
            <p class="text-font text-splitter text-inline-pad">}</p>
        </div>
        <div class="text-right container text-center">
            <p class="text-font text-inline">Développé par :</p>
            <a target="_blank" class="text-link text-inline text-normal text-bold"
                href="https://github.com/lx78WyY0J5">@lx78WyY0J5</a>
            <p class="text-font text-inline">avec 💝</p>
        </div>
    </div>
</div>