<div id="meta">
    <meta http-equiv="refresh" refresh content="3600;">
    <!--<meta http-equiv="refresh" refresh content="1800;URL=https://lx78wyy0j5.github.io">-->

    <meta name="robots" content="index, follow">

    <meta name="keywords" content="HTML, CSS, JavaScript, Français, France, Développeur, Minecraft, Albion Online">
    <meta charset="UTF-8">

    <meta property="og:determiner" content="📰" />
    <meta property="og:title" content="UHCE.fr" />
    <meta property="og:type" content="siteweb" />
    <meta property="og:image" content="https://lx78wyy0j5.github.io/images/avatar.gif" />
    <meta property="og:image:type" content="image" />
    <meta property="og:image:alt" content="logo" />
    <meta property="og:url" content="https://uhcefr.github.io" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:site_name" content="uhcefr.github.io" />
    <meta property="profile:username" content="UHCE.fr" />
    <meta property="og:description" content="Page d'accueil de UHCE.fr" />

    <title>📰 UHCE.fr</title>
    <meta name="description" content="Page d'accueil de UHCE.fr">

    <meta name="viewport" content="width=device-width, minimum-scale=1 initial-scale=1, user-scalable=yes">
</div>