<div id="header">
    <link rel="stylesheet" href="../../styles/header.css">
    <div>
        <div class="text-left container text-small text-center">
            <a target="_blank" class="text-link text-inline text-extra text-bold"
                href="https://uhcefr.github.io/">UHCE.fr</a>
            <p class="text-font text-splitter text-inline-pad text-extra">|</p>
            <p class="text-font text-inline text-large text-bold">{ Menu }</p>
            <p class="text-font text-splitter text-inline-pad text-large">|</p>
            <a target="_blank" class="text-link text-inline" href="https://UHCE.fr/discord">Discord</a>
            <p class="text-font text-splitter text-inline-pad">|</p>
            <a target="_blank" class="text-link text-inline" href="https://">A</a>
            <p class="text-font text-splitter text-inline-pad">|</p>
            <a target="_blank" class="text-link text-inline" href="https://">B</a>
        </div>
        <div class="text-right container">
            <div class="text-normal">
                <a id="pageName" target="_blank" class="text-link text-inline text-bold"
                    href="https://github.com/uhcefr/uhcefr.github.io/blob/main">📃 </a>
                <p class="text-font text-splitter text-inline-pad">|</p>
                <a id="pageAuthor" target="_blank" class="text-link text-inline text-bold"
                    href="https://github.com/">👼@</a>
                <p class="text-font text-splitter text-inline-pad">|</p>
                <p id="pageMessage" class="text-font text-inline text-normal text-bold">💬</p>
                <p class="text-font text-splitter text-inline-pad">|</p>
                <a id="pageEdit" target="_blank" class="text-link text-inline text-large text-bold"
                    href="https://github.com/uhcefr/uhcefr.github.io/edit/main">Modifier</a>
            </div>
            <div class="text-normal">
                <p class="text-font text-inline text-small">⏰ </p>
                <p id="pageDate" class="text-font text-inline text-small"></p>
                <p class="text-font text-splitter text-inline-pad">|</p>
                <a id="pageCommit" target="_blank" class="text-link text-inline text-small"
                    href="https://github.com/uhcefr/uhcefr.github.io/commit/">
                    📊
                </a>
            </div>
        </div>
    </div>
</div>