#header {
    background-color: rgba(0, 0, 0, 1);

    display: inline-table;
    position: sticky;
    top: 0;
    left: 0;

    width: 100vw;
    height: min-content;
    min-height: 7.5vh;

    border: 0;
    border-bottom: 0.5vh;
    border-color: rgb(255, 0, 0, 0.2);
    border-style: solid;

    margin-bottom: 2.5vh;
    
    z-index: 1000;
}
