#header {
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: fit-content;

    border: 0;
    border-bottom: 0.5vh;
    border-color: rgb(255, 0, 0, 0.2);
    border-style: solid;
}